<!DOCTYPE html>
<html lang="en" data-ng-app="myAppName">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <link rel="shortcut icon" type="image/x-icon" href="app/img/logo-small_favicon.png"/>
   <meta name="description" content="{{app.description}}">
   <title>Jugnoo</title>

   <link rel="stylesheet" href="app/css/app.css">

   <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css">
   <link rel="stylesheet" href="app/css/custom-style.css">

</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat}">
<div data-ui-view="" data-autoscroll="false" class="wrapper" style="height: 100%"></div>

<div id="error_messsage" ng-if="errorMessageGlobal">
   <div>
        <span style='background-color: rgba(0,0,0,0.1);padding: 15px 30px;' ng-bind="errorMessageGlobal"
              ng-class="{message_span:errorMessageGlobal}">
        </span>
   </div>
</div>


<div id="success_messsage" ng-if="successMessageGlobal">
   <div>
      <span style='background-color: rgba(0,0,0,0.1);padding: 15px 30px;' ng-bind="successMessageGlobal" ng-class="{message_span:successMessageGlobal}"></span>
   </div>
</div>

<div id="global_loader" class="glb-ldr-prt" ng-if="globalLoader">
   <div class="gl-ldr-cld">
      <div class="gl-ldr-ctr">
         <div class="gl-loader"> </div>
      </div>
   </div>
</div>


<script src="app/js/base.js"></script>
<script src="config.js"></script>
<script src="app/js/customizejs/lodash.min.js"></script>
<script src="vendor/angular-google-maps/angular-google-maps.min.js"></script>
<script src='https://maps.googleapis.com/maps/api/js?v=3&sensor=false&amp;libraries=places'></script>

<script src="app/js/customizejs/moment-with-locales.js"></script>
<script src="app/js/customizejs/jquery.datetimepicker.js"></script>
<script src="app/js/app.js"></script>
<script src="app/js/myApp.js"></script>
<script src="app/js/controllers/custom_functions.js"></script>
<script src="app/js/controllers/jugnooAdvertisement.js"></script>
<script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>


</body>

</html>