.img-logo{
    width:auto ;
    max-height:35px;
}
.angular-google-map-container {
    width: 100%;
    height: 500px;
}
.inline-block{
    display: inline-block;
}

@font-face {
    font-family: 'Cabin-Regular';
    src: url('../font/Cabin-Regular.ttf');
}
@font-face {
    font-family: 'Cabin-Medium';
    src: url('../font/Cabin-Medium.ttf');
}


body {
    font-family: "Cabin-Regular";
    color: #000;
}

.timedifferror{
    color: red;
    font-size: 11px;
    display: none;
}

.sidebar > .nav > li > a > em, .sidebar > .nav > li > .nav-item > em{
    width:0px !important;
}

/*.content-wrapper{*/
   /*background: #fff !important;*/
/*}*/

.topnavbar{
    border: 0;
    background-color: #FE865F;
    background-image: -webkit-linear-gradient(left, #FE865F 60%, #FC9A53 100%);
    background-image: -o-linear-gradient(left, #FE865F 60%, #FC9A53 100%);
    background-image: linear-gradient(to right, #FE865F 60%, #FC9A53 100%);
    background-repeat: repeat-x;
}

.sidebar > .nav > li > a:focus,
.sidebar > .nav > li > .nav-item:focus,
.sidebar > .nav > li > a:hover,
.sidebar > .nav > li > .nav-item:hover {
    text-decoration: none;
    outline: none;
    color: #FE865F;
}

.sidebar > .nav > li.active,
.sidebar > .nav > li.open,
.sidebar > .nav > li.active > a,
.sidebar > .nav > li.open > a,
.sidebar > .nav > li.active .nav,
.sidebar > .nav > li.open .nav {
    background-color: #fcfcfc;
    color: #FE865F !important;
}
.sidebar > .nav > li.active > a > em,
.sidebar > .nav > li.open > a > em {
    color: #FE865F !important;
}

.sidebar > .nav > li.active {
    border-left-color: #FE865F !important;
}

.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
    color: #fff;
}
.topnavbar .navbar-nav > li > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
    color: #000;
}
.topnavbar .navbar-nav > .active > a,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .active > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
    background-color: transparent;
}

.wrapper{
    background-color: #fff !important;
}

h3{
    color: #414141 !important;
    font-family: "Cabin-Regular" !important;
    text-align: center;
    margin: 20px 0;
}
.control-label{
    font-family: "Cabin-Medium" !important;
    font-weight:lighter !important;
}
.panel-dark > .panel-heading{
    background-color: #FE865F !important;
    border-color: #FE865F !important;
}

small, .small{
    font-size:100% !important;
}

.btn-primary{
    background-color: #FE865F !important;
    border-color: #FE865F !important;
}

.format_accounts{
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #ececec;
    padding-right: 40px;
    margin-top: 25px;
}

.wrapper > section{
    margin-bottom:0px !important;
}

#error_messsage {
    position: fixed;
    margin-top:5px;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 100000;
    text-align:center;
    color:#FE865F;
    font-weight: bold;
}

#success_messsage{
    position: fixed;
    margin-top:5px;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 100000;
    text-align:center;
    color:#00F;
    font-weight: bold;
}

.table > tbody > tr:hover{
    background-color: #F7F7F7 !important;
    color:#000 !important;
}
.required_field{
    color: #FE865F;
    float: right;
    font-size: 10px;
}

.ball-pulse {
    margin-top: 5px;
    text-align: center;
}

body .ball-pulse > div {
    background-color: #FE865F !important;
}

.Order_form .page-header{
    padding: 20px 0;
    margin: 0;
    font-size: 30px;
    border-bottom: 0;
}
.top_head {
    /*border-bottom: 1px solid #edf1f2;*/
    /*padding-bottom: 20px;*/
}
.top_head .c-checkbox input[type=checkbox]:checked + span{
    border-color: #000;
    background-color: transparent;
    border-radius: 0;
}
.top_head .c-checkbox input[type=checkbox]:checked + span:before,.top_head .c-radio input[type=checkbox]:checked + span:before,.top_head .c-checkbox input[type=radio]:checked + span:before,.top_head .c-radio input[type=radio]:checked + span:before{
    color:#89D198;
}
.top_head .c-checkbox, .top_head .c-radio{
    display: inline-block;
    padding-right: 15px;
}
.form_head{
    width: 60%;
    margin: 0 auto;
    padding: 0px 0px 30px;
    color: #FE865F;
}

#Pickup_form , #Delivery_form{
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}
.layout-fixed .wrapper > .aside{
    display: none;
}
.layout-fixed .wrapper > section{
    margin-left:0;
}
.content-wrapper{
    padding: 0;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.error{
    color:red
}



.glb-ldr-prt{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    height:100%;
    z-index: 100000;
    text-align: center;
    display: table;
}

.gl-ldr-cld{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.gl-ldr-ctr{
    background-color: #f5f5f5;
    margin: 0 auto;
    border-radius: 10px;
}

#global_loader .gl-ldr-ctr{
    width:80px;
    height:80px;
    padding: 15px;
}

.gl-loader {
    width: 50px;
    height: 50px;
    position: relative;
    border-top: 5px solid rgba(0, 0, 0, 0.03);
    border-right: 5px solid rgba(0, 0, 0, 0.03);
    border-bottom: 5px solid #245A8C;
    border-left: 5px solid #245A8C;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.gl-loader,
.gl-loader:after {
    border-radius: 50%;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}