<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
         <!-- START navbar header-->
   <div class="navbar-header" style="width:50%; display:inline-block">
      <a  class="navbar-brand">
         <div class="brand-logo" style="text-align:left">
            <img src="app/img/logo.png" alt="App Logo" class="img-responsive img-logo" />
         </div>
      </a>
   </div>
    <!--<div class="navbar-header" style="width:49%; display:inline-block">-->
      <!--<a  href="app.tookanapp.com" class="navbar-brand" style="float: right;">-->
         <!--<div class="brand-logo" >-->
            <!--<img src="app/img/powered_by_tookan.png" alt="App Logo" class="img-responsive img-logo" style="float: right;"/>-->
         <!--</div>-->
      <!--</a>-->
   <!--</div>-->
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <!--<div class="nav-wrapper" style="width:48%; display:inline-block">-->
       <!--<a href="app.tookanapp.com" class="navbar-brand">-->
           <!--<div class="brand-logo">-->
               <!--<img src="app/img/powered_by_tookan.png" alt="App Logo" class="img-responsive img-logo" />-->
           <!--</div>-->
       <!--</a>-->

      <!--&lt;!&ndash; START Right Navbar&ndash;&gt;-->
      <!--&lt;!&ndash;<ul class="nav navbar-nav navbar-right">&ndash;&gt;-->
                   <!--&lt;!&ndash; START Logout function&ndash;&gt;-->
          <!--&lt;!&ndash;<li>&ndash;&gt;-->
              <!--&lt;!&ndash;<a title="Logout" ng-controller="LoginController" ng-click="logout()">&ndash;&gt;-->
                  <!--&lt;!&ndash;<em class="icon-logout"></em>&ndash;&gt;-->
              <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash; END Logout function&ndash;&gt;-->
      <!--&lt;!&ndash;</ul>&ndash;&gt;-->
      <!--&lt;!&ndash; END Right Navbar&ndash;&gt;-->
   <!--</div>-->
   <!-- END Nav wrapper-->

</nav>
<!-- END Top Navbar-->