<style>
    .layout-fixed .wrapper {
        background: #f7f7f7 !important;
    }
</style>
<div ng-controller="LoginController" class="block-center mt-xl wd-xl">
    <!-- START panel-->

    <div class="panel panel-dark panel-flat" style="margin-top: 50% !important;">
        <a href="#">
            <img src="app/img/logo_login.png" alt="Image" class="block-center logo-div"/>
        </a>
        <div class="panel-body">
            <form role="form" validate-form="" novalidate="" class="mb-lg" name="loginForm" ng-submit="loginAdmin()">
                <div class="form-group has-feedback">
                    <input id="exampleInputEmail1" type="email" placeholder="Enter email"
                           ng-model="account.email" required="required" class="form-control"/>
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                </div>
                <div class="form-group has-feedback">
                    <input id="exampleInputPassword1" type="password" placeholder="Password" ng-model="account.password"
                           required="required" class="form-control"/>
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                </div>

                <button type="submit" class="btn btn-block btn-primary mt-lg" ng-disabled="loginLoader">Login</button>
                <div class="ball-pulse" ng-if="loginLoader">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </form>
            <div ng-show="authMsg" class="alert alert-danger text-center">{{authMsg}}</div>

        </div>
    </div>
    <!-- END panel-->

</div>

