<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a ui-sref="app.placeorder" class="navbar-brand">
            <div class="brand-logo">
                <img src="app/img/logo.png" alt="App Logo" class="img-responsive img-logo" />
            </div>
        </a>
    </div>
    <!-- END navbar header-->
    <!-- START Nav wrapper-->
    <div class="nav-wrapper">
        <!-- START Right Navbar-->
        <ul class="nav navbar-nav navbar-right">
            <!-- START Logout function-->
            <!--<li>-->
            <!--<a title="Logout" ng-controller="LoginController" ng-click="logout()">-->
            <!--<em class="icon-logout"></em>-->
            <!--</a>-->
            <!--</li>-->
            <!-- END Logout function-->
        </ul>
        <!-- END Right Navbar-->
    </div>
    <!-- END Nav wrapper-->

</nav>
<!-- END Top Navbar-->