<!-- top navbar-->
<header ng-include="'app/views/partials/top-navbar.html'" class="topnavbar-wrapper" style="height: 55px"></header>
<!-- sidebar-->
<!--<aside ng-include="'app/views/partials/sidebar.html'" ng-controller="SidebarController" class="aside"></aside>-->
<!-- Main section-->
<section style="height:100%;background-color: white !important;" >
   <!-- Page content-->
   <div ui-view="" autoscroll="false" ng-class="app.viewAnimation" class="content-wrapper" style="height: 100%;"></div>
</section>
<!-- Page footer-->
<!--<footer ng-include="'app/views/partials/footer.html'"></footer>-->