<!--
<style>
    .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
</style>
<div ng-controller="OrderController" class="container-fluid container-account-page">
    <h4 class="page-header mt0" id="account-header">Update Information</h4>

    <form class="form-horizontal" role="form" novalidate="" validate-form="" ng-submit="updateInfo()"
          autocomplete="off">
        <div class="format_accounts" style="border:0px !important;">
            <div class="form-group">
                <label class="col-lg-4 control-label">Email</label>

                <div class="col-lg-6">
                    <input type="email" name="email" class="form-control"
                           placeholder="Enter Email" ng-model="editData.email" autocomplete="off" required=""/>
                </div>
            </div>
            &lt;!&ndash;<div class="form-group">&ndash;&gt;
                &lt;!&ndash;<label class="col-lg-4 control-label">Phone</label>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-6">&ndash;&gt;
                    &lt;!&ndash;<input type="text" name="customer_phn"&ndash;&gt;
                           &lt;!&ndash;masked="" data-inputmask="'mask': '(999) 999-9999'"&ndash;&gt;
                           &lt;!&ndash;placeholder="Phone" class="form-control" ng-model="editData.phone" required=""/>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
            &lt;!&ndash;</div>&ndash;&gt;
            <div class="form-group">
                <div class="col-lg-10 text-center">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </form>
</div>-->
