<div style="height:100%;" ng-controller="jugnooAdvertisementController" class="container-fluid container-account-page Order_form">
    <!--upper row-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:100%;">
    <div class="row">
        <div class="top_head col-lg-12">
            <h3 class="page-header mt0" id="account-header">NJB</h3>
        </div>
    </div>
    <!--upper row ends -->

    <div ng-show="!isRegisterd">
        <form name="JugnooAdvertisement" class="form-horizontal" role="form" novalidate="" validate-form=""
              ng-submit="validateVehicleNo(JugnooAdvertisement.vehicleNo.$error.pattern)" autocomplete="off">

            <div class="row">

                <div class="col-lg-4"></div>


                <div class="col-lg-4">
                    <div>
                        <label class="col-lg-3 control-label" style="padding-left:0px; padding-right: 0px ">Vehicle
                            No.<span class="required_field">*</span></label>

                        <div class="col-lg-9">
                            <input type="text" name="vehicleNo" class="form-control"
                                   placeholder="ch01bd5384 (without spaces and special character)"
                                   ng-model="JA.vehicleNo" autocomplete="off" ng-required="true"
                                   ng-pattern="/^[A-Za-z0-9]*$/"/>
                        </div>
                    </div>
                    <span class="col-lg-3"></span>
                    <span class="col-lg-9 text-center" ng-show="JugnooAdvertisement.vehicleNo.$error.pattern" style="color:red;    padding: 0px;
    float: left;">Only alphanumeric without space are accepted</span>

                    <span class="col-lg-3"></span>
                    <span class="col-lg-9" style="color:red;padding: 0px;
    float: left;">{{errorMSG}}</span>


                    <div class="col-lg-12" style="margin-top: 25px">
                        <div class="form-group text-center">
                            <button type='submit' class="btn btn-primary" ng-disabled="JugnooAdvertisement.vehicleNo.$error.pattern">Submit</button>
                        </div>
                    </div>

                </div>


                <div class="col-lg-4"></div>

            </div>
        </form>

    </div>


        <div ng-show="isRegisterd">

        <form name="CreateJugnooAdvertisement" class="form-horizontal" role="form" novalidate="" validate-form=""
              ng-submit="createJugnooAdvertisement()" autocomplete="off">

            <div class="row">

                <div class="col-lg-4 col-sm-0"></div>


                <div class="col-lg-4 col-sm-12">
                    <div>
                        <label class="col-lg-3 control-label" style="padding-left:0px; padding-right: 0px ">Vehicle
                            No.<span class="required_field">*</span></label>

                        <div class="col-lg-9" >
                            <input type="text" name="vehicleNo" class="form-control"
                                   placeholder="ch01bd5384 (without spaces and special character)"
                                   ng-model="JA.vehicleNo" autocomplete="off" ng-required="true"
                                   ng-pattern="/^[A-Za-z0-9]*$/" ng-disabled="true"/>
                        </div>
                    </div>
                    <span class="col-lg-3"></span>
                    <span class="col-lg-9" ng-show="CreateJugnooAdvertisement.vehicleNo.$error.pattern"
                          style="color:red">Only alphanumeric without space are accepted</span>
                </div>


                <div class="col-lg-4 col-sm-0"></div>

            </div>

            <div class="row" style="text-align: center;margin-top: 10px;color:red" >{{errorMSG}}</div>
            <div class="row" style="margin-top: 10px" >

                <div class="col-lg-4 col-sm-0"></div>


                <div class="col-lg-4 col-sm-12">
                    <div>
                        <label class="col-lg-3 control-label" style="padding-left:0px; padding-right: 0px ">Auto Driver
                            Name<span class="required_field">*</span></label>

                        <div class="col-lg-9">
                            <input type="text" name="autoDriverName" class="form-control"
                                   placeholder="Driver Name" ng-model="JA.autoDriverName" autocomplete="off"
                                   ng-required="true" ng-pattern="/^[ A-Za-z0-9/s]*$/"/>
                        </div>
                    </div>
                    <span class="col-lg-3"></span>
                    <span class="col-lg-9" ng-show="CreateJugnooAdvertisement.autoDriverName.$error.pattern"
                          style="color:red">Only alphanumeric are accepted</span>
                </div>


                <div class="col-lg-4 col-sm-0"></div>

            </div>


            <div class="row" style="margin-top: 10px" >

                <div class="col-lg-4 col-sm-0"></div>


                <div class="col-lg-4 col-sm-12">
                    <div>
                        <label class="col-lg-3 control-label" style="padding-left:0px; padding-right: 0px ">Driver Phone
                            No.<span class="required_field">*</span></label>

                        <div class="col-lg-9">
                            <input type="number" name="driverPhoneNo"
                                   placeholder="Phone" class="form-control" ng-model="JA.driverPhoneNo"
                                   ng-required="true" ng-pattern="/^[1-9][0-9]{9}$/"/>
                        </div>
                    </div>
                    <span class="col-lg-3"></span>
                    <span class="col-lg-9" ng-show="!CreateJugnooAdvertisement.driverPhoneNo.$valid&&CreateJugnooAdvertisement.driverPhoneNo.$touched"
                          style="color:red">Please enter the valid phone no.</span>
                </div>


                <div class="col-lg-4 col-sm-0"></div>

            </div>


            <div class="row" style="margin-top: 10px" >

                <div class="col-lg-4 col-sm-0"></div>


                <div class="col-lg-4 col-sm-12">
                    <div>
                        <label class="col-lg-3 control-label" style="padding-left:0px; padding-right: 0px ">City<span
                                class="required_field">*</span></label>

                        <div class="col-lg-9">
                            <!--<input type="text" name="city" class="form-control"-->
                                   <!--placeholder="City" ng-model="JA.city" autocomplete="off" ng-required="true"-->
                                   <!--ng-pattern="/^[ A-Za-z0-9/s]*$/"/>-->

                            <select  class="form-control" ng-model="JA.city" ng-required="true">
                                <option value="">Select City</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Ludhiana">Ludhiana</option>
                                <option value="Amritsar">Amritsar</option>
                                <option value="Jaipur">Jaipur</option>
                                <option value="Gurgaon">Gurgaon</option>
                                <option value="Indore">Indore</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Navi Mumbai">Navi Mumbai</option>
                                <option value="Ahmedabad">Ahmedabad</option>
                                <option value="Nagpur">Nagpur</option>
                                <option value="Pune">Pune</option>
                                <option value="Vadodara">Vadodara</option>
                                <option value="Surat">Surat</option>
                                <option value="Nasik">Nasik</option>
                                <option value="Noida">Noida</option>
                                <option value="Hyderabad">Hyderabad</option>
                                <option value="Jodhpur">Jodhpur</option>
                                <option value="Guwahati">Guwahati</option>
                                <option value="Mysore">Mysore</option>
                                <option value="Bhubaneswar">Bhubaneswar</option>
                                <option value="Udaipur">Udaipur</option>
                                <option value="Kota">Kota</option>
                                <option value="Coimbatore">Coimbatore</option>
                                <option value="Kochi">Kochi</option>
                                <option value="Bengaluru">Bengaluru</option>
                                <option value="Faridabad">Faridabad</option>
                                <option value="Ajmer">Ajmer</option>
                                <option value="Rajkot">Rajkot</option>
                                <option value="Bhopal">Bhopal</option>
                                <option value="Chennai">Chennai</option>
                                <option value="Lucknow">Lucknow</option>
                                <option value="Visakhapatnam">Visakhapatnam</option>
                                <option value="Mangalore">Mangalore</option>
                                <option value="Tiruchirappalli">Tiruchirappalli</option>
                                <option value="Vijayawada">Vijayawada</option>
                                <option value="Ghaziabad">Ghaziabad</option>
                                <option value="Kurukshetra">Kurukshetra</option>
                                <option value="Cuttack">Cuttack</option>
                                <option value="Kanpur">Kanpur</option>
                                <option value="Jabalpur">Jabalpur</option>
                                <option value="Patiala">Patiala</option>
                                <option value="Jalandhar">Jalandhar</option>
                                <option value="Bathinda">Bathinda</option>
                            </select>
                        </div>
                    </div>
                    <span class="col-lg-3"></span>
                    <span class="col-lg-9" ng-show="CreateJugnooAdvertisement.city.$error.pattern" style="color:red">Only alphanumeric are accepted</span>
                </div>


                <div class="col-lg-4 col-sm-0"></div>

            </div>


            <div class="row" style="margin-top: 10px" >

                <div class="col-lg-4 col-sm-0"></div>


                <!--<div class="col-lg-4 col-sm-12">-->
                    <!--<div>-->
                        <!--<label class="col-lg-3 control-label"-->
                               <!--style="padding-left:0px; padding-right: 0px ">Android<span-->
                                <!--class="required_field">*</span></label>-->

                        <!--<div class="col-lg-9" style="padding-top: 5px">-->
                            <!--<input type="radio" name="advertising" value="true"-->
                                   <!--ng-model="JA.advertising" required/> Yes-->

                            <!--<input type="radio" name="advertising" value="false"-->
                                   <!--ng-model="JA.advertising" style="margin-left: 10px" required/> No-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


                <div class="col-lg-4 col-sm-0"></div>

            </div>


            <div class="row" style="margin-top: 10px" >

                <div class="col-lg-4 col-sm-0"></div>


                <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label class="col-lg-3 control-label" style="padding-left:0px; padding-right: 0px ">Driver Photo
                            <span class="required_field">*</span></label>

                        <div class="col-lg-9" style="padding: 10px;">
                            <input type="file" name="image" accept="image/*" onchange="angular.element(this).scope().file_to_upload(this.files,0)" required>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" style="padding-left:0px; padding-right: 0px ">Audit Photo 1
                            <span class="required_field">*</span></label>

                        <div class="col-lg-9" style="padding: 10px;">
                            <input type="file" name="image" accept="image/*" onchange="angular.element(this).scope().file_to_upload(this.files,1)" required>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" style="padding-left:0px; padding-right: 0px ">Audit Photo 2
                            <span class="required_field">*</span></label>

                        <div class="col-lg-9" style="padding: 10px;">
                            <input type="file" name="image" accept="image/*" onchange="angular.element(this).scope().file_to_upload(this.files,2)" required>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" style="padding-left:0px; padding-right: 0px ">Audit Photo 3</label>

                        <div class="col-lg-9" style="padding: 10px;">
                            <input type="file" name="image" accept="image/*" onchange="angular.element(this).scope().file_to_upload(this.files,3)">
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label" style="padding-left:0px; padding-right: 0px ">Audit Photo 4</label>
                        <div class="col-lg-9" style="padding: 10px;">
                            <input type="file" name="image" accept="image/*" onchange="angular.element(this).scope().file_to_upload(this.files,4)">
                        </div>

                    </div>
                </div>


                <div class="col-lg-4 col-sm-0"></div>

            </div>


            <div class="row" style="margin-top: 10px" >

                <div class="col-lg-4 col-sm-0"></div>




                <div class="col-lg-4 col-sm-0"></div>

            </div>

            <div class="row" style="margin-top: 10px" >

                <div class="col-lg-4 col-sm-0"></div>


                <div class="col-lg-4 col-sm-12">
                    <div>
                        <label class="col-lg-3 control-label" style="padding-left:0px; padding-right: 0px ">Brand <span class="required_field"></span></label>

                        <div class="col-lg-9">
                            <input type="text" name="custom_ph" class="form-control"
                                   placeholder="Brand" ng-model="JA.brand" autocomplete="off"/>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-sm-0"></div>

            </div>

            <div class="row" style="margin-top: 10px" >

                <div class="col-lg-4 col-sm-0"></div>


                <div class="col-lg-4 col-sm-12">
                    <div>
                        <label class="col-lg-3 control-label" style="padding-left:0px; padding-right: 0px ">Bank Name </label>

                        <div class="col-lg-9">
                            <input type="text" name="custom_ph" class="form-control"
                                   placeholder="Bank Name" ng-model="JA.bank_name" autocomplete="off"/>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-sm-0"></div>

            </div>

            <div class="row" style="margin-top: 10px" >

                <div class="col-lg-4 col-sm-0"></div>


                <div class="col-lg-4 col-sm-12">
                    <div>
                        <label class="col-lg-3 control-label" style="padding-left:0px; padding-right: 0px ">IFSC Code </label>

                        <div class="col-lg-9">
                            <input type="text" name="custom_ph" class="form-control"
                                   placeholder="IFSC Code" ng-model="JA.ifsc_code" autocomplete="off"/>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-sm-0"></div>

            </div>

            <div class="row" style="margin-top: 10px" >

                <div class="col-lg-4 col-sm-0"></div>


                <div class="col-lg-4 col-sm-12">
                    <div>
                        <label class="col-lg-3 control-label" style="padding-left:0px; padding-right: 0px ">Account No.</label>

                        <div class="col-lg-9">
                            <input type="text" name="custom_ph" class="form-control"
                                   placeholder="Account No." ng-model="JA.account_no" autocomplete="off"/>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-sm-0"></div>

            </div>

            <div class="row" style="margin-top: 10px" >

                <div class="col-lg-4 col-sm-0"></div>


                <div class="col-lg-4 col-sm-12">
                    <div>
                        <label class="col-lg-3 control-label" style="padding-left:0px; padding-right: 0px ">No of Days </label>

                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <input class="form-control" type="number"  placeholder="enter no of days" ng-model="JA.no_of_days"  >
                        </div>
                    </div>
                </div>


                <!--<span class="col-lg-9" ng-show="successMSG"-->
                      <!--style="color:red">Successful</span>-->

            </div>
            <div class="row" style="margin-top: 10px" >

                <div class="col-lg-4 col-sm-0"></div>


                <div class="col-lg-4 col-sm-12">
                    <div>
                       <span  ng-show="successMSG"
                             style="color:green;">Successful Audited</span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-0"></div>




            </div>



            <div class="col-lg-12" style="margin-top: 8px" >
                <div class="form-group text-center">
                    <button type='submit' class="btn btn-primary">Submit</button>
                </div>
            </div>

        </form>
    </div>

    </div>




</div>
<!--<div style="background:url('app/img/background.png') repeat-x 0% center;background-size: contain; width: 100%;height: 600px;margin-top:-400px;">-->
    <!--<div style="position: fixed;-->
    <!--bottom: 10px;-->
    <!--right: 10px;">-->
        <!--<img style="width:100px;" src="app/img/powered_by_tookan.png"/>-->
    <!--</div>-->
<!--</div>-->