<!--
<style>
    .row{
        margin-right:0px !important;
        margin-left:0px !important;
    }
</style>
<div ng-controller="OrderController" class="container-fluid container-account-page">
    <h4 class="page-header mt0" id="account-header">Add Pick-up Location</h4>

    <div class="row">
        <form class="form-horizontal" role="form" novalidate="" validate-form="" ng-submit="addPickupLocation()"
              autocomplete="off">
            <div class="format_accounts" style="border:0px !important;">
                <div class="form-group">
                    <div class="col-lg-8">
                        <input type="text" name="org_address"
                               class="form-control" autocomplete="off" ng-model="account.pickuplocation" googleplace=""
                               placeholder="Select Pick-up Location" required=""/>
                    </div>
                    <div class="col-lg-4">
                        <button type='submit' class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <h4 class="page-header mt0" style="margin-top:40px !important;">All Pick-up Locations</h4>
    <div>
        <div class="table-responsive">
            <table id="all_pickuplocations_datatable" class="table row-border table-hover">
                <thead>
                <tr>
                    <th>Pick-up Location</th>
                    <th class="no-sort">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in pickupAddresses">

                    <td>{{data.address}}</td>
                    <td>
                        <a href="" ng-click="opendeleteWarningDialog(0,data.id)"
                           class="btn btn-default"><i
                                class="fa fa-trash icons" tooltip="Delete Location"></i></a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
    <script type="text/ng-template" id="deleteDialogId">
        <div class="ngdialog-message"><h5>Are you sure? This cannot be undone.</h5>
            <button type="button" ng-click="confirm(confirmValue)" class="btn btn-sm btn-modal btn-danger mr">Confirm
            </button>
            <button type="button" ng-click="closeThisDialog('button')" class="btn btn-sm btn-modal btn-default">Cancel
            </button>
        </div>
    </script>
</div>-->
