<style>
    .angular-google-map-container
    {
        height: 780px;
    }
</style>
<div ng-controller="OrderController" class="container-fluid container-account-page Order_form">
    <div class="top_head">
        <h3 class="page-header mt0" id="account-header">Order Form</h3>
        <div style="text-align:center">
            <div class="checkbox c-checkbox">
                <label>
                    <input class="pickup_box" id="pickup_box" type="checkbox" ng-model="has_pickup" checked="" ng-click="hasPickupEnabled(has_pickup)">
                    <span class="fa fa-check"></span>
                    Pick-Up
                </label>
            </div>
        </div>
    </div>


    <form name="placeOrderForm" class="form-horizontal" role="form" novalidate="" validate-form=""  ng-submit="placeOrder(placeOrderForm.orderId.$error.pattern, placeOrderForm.orderdetails.$error.pattern, placeOrderForm.orderInst.$error.pattern
    , placeOrderForm.pickup_customer_phn.$error.pattern, placeOrderForm.delivery_customer_phn.$error.pattern, placeOrderForm.delivery_vendor_phn.$error.pattern, placeOrderForm.pickUpVendorusername.$error.pattern,
    placeOrderForm.delivery_username.$error.pattern, placeOrderForm.deliver_vendor_name.$error.pattern )" autocomplete="off">

        <div class="row">



            <div class="col-lg-7">

                <!--row for pickup form-->
                <div class="format_accounts" id ="Pickup_form" ng-class="pickupClass" ng-show="has_pickup">
                    <h4 class="form_head">Pick-up</h4>

                    <div class="form-group">
                        <label class="col-lg-5 control-label">Pick-up Address<span class="required_field">*</span></label>

                        <div class="col-lg-7">
                            <select  class="form-control" ng-model="pickup_add_selector" ng-required="has_pickup">
                                <option value="">Select Address</option>
                                <option value="0">Chandigarh</option>
                                <option value="1">Other</option>
                            </select>

                        </div>

                        <label class="col-lg-5 control-label"></label>
                        <div class="col-lg-7" ng-if="pickup_add_selector == 1">
                            <input style="margin-top:15px;" type="text" name="org_address"
                                   class="form-control" autocomplete="off" ng-model="account.pickupAddress" googleplace=""
                                   placeholder="Address" ng-required="has_pickup"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-5 control-label">Vendor Name<span class="required_field">*</span></label>

                        <div class="col-lg-7">
                            <input type="text" name="pickUpVendorusername" class="form-control"
                                   placeholder="Enter Name" ng-model="account.pickupVendorname" autocomplete="off" ng-required="has_pickup" ng-pattern="/^[ A-Za-z0-9@\-//.#/s]*$/"/>
                        </div>

                        <span class="col-lg-5"></span>
                        <span class="col-lg-7" ng-show="placeOrderForm.pickUpVendorusername.$error.pattern"  style="color:red">Only alphanumeric with .@#/- or space are accepted</span>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-5 control-label">Vendor Phone<span class="required_field">*</span></label>

                        <div class="col-lg-7">
                            <input type="text" name="pickup_customer_phn"
                                   masked="" data-inputmask="'mask': '(999) 999-9999'"
                                   placeholder="Phone" class="form-control" ng-model="account.pickupVendorphone" ng-required="has_pickup"  ng-pattern="/^[0-9()\-\s]*$/"/>
                        </div>
                        <span class="col-lg-5"></span>
                        <span class="col-lg-7" ng-show="placeOrderForm.pickup_customer_phn.$error.pattern"  style="color:red">Please enter a valid Phone no.</span>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-5 control-label">Pick-up Date<span class="required_field">*</span></label>
                        <div class="col-lg-7">
                            <input id="pickup_datetimepicker" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                                   ng-model='account.pickup_date' placeholder="Select pick-up date" type="text" class="form-control"  autocomplete="off" ng-required="has_pickup" >

                        </div>
                        <div class="timedifferror" id="pickup_time_error"></div>
                    </div>
                </div>
                <!--row for pick-up form ends-->

                <!--row for delivery form-->
                <div class="format_accounts " id ="Delivery_form" ng-class="deliveryClass">
                    <h4 class="form_head">Delivery</h4>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">Order ID<span class="required_field">*</span></label>

                        <div class="col-lg-7">
                            <input type="text" name="orderId" class="form-control"
                                   placeholder="Order ID" ng-model="account.orderId" autocomplete="off" required="required" ng-pattern="/^[ A-Za-z0-9@\-//.#]*$/"/>
                          </div>
                        <span class="col-lg-5"></span>
                          <span class="col-lg-7" ng-show="placeOrderForm.orderId.$error.pattern"  style="color:red">Only alphanumeric with .@#/- are accepted</span>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">Order Details<span class="required_field">*</span></label>

                        <div class="col-lg-7">
                            <input type="text" name="orderdetails" class="form-control"
                                   placeholder="Order Details" ng-model="account.orderdetails" autocomplete="off" required="required" ng-pattern="/^[ A-Za-z0-9@\-//.#/s]*$/"/>
                        </div>
                        <span class="col-lg-5"></span>
                        <span class="col-lg-7" ng-show="placeOrderForm.orderdetails.$error.pattern"  style="color:red">Only alphanumeric with .@#/- or space are accepted</span>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">Special Instructions<span class="required_field">*</span></label>

                        <div class="col-lg-7">
                            <input type="text" name="orderInst" class="form-control"
                                   placeholder="Special Instructions" ng-model="account.orderInst" autocomplete="off" required="required" ng-pattern="/^[ A-Za-z0-9@\-//.#/s]*$/"/>
                        </div>
                        <span class="col-lg-5"></span>
                        <span class="col-lg-7" ng-show="placeOrderForm.orderInst.$error.pattern"  style="color:red">Only alphanumeric with .@#/- or space are accepted</span>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">Cash to be Collected<span class="required_field">*</span></label>

                        <div class="col-lg-7">
                            <input type="number" name="username" class="form-control"
                                   placeholder="Enter the Cash Amount" ng-model="account.cash" autocomplete="off" required="required" step="0.01"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">Customer Name<span class="required_field">*</span></label>

                        <div class="col-lg-7">
                            <input type="text" name="delivery_username" class="form-control"
                                   placeholder="Enter Name" ng-model="account.recepname" autocomplete="off" required="required" ng-pattern="/^[ A-Za-z0-9@\-//.#/s]*$/"/>
                        </div>
                        <span class="col-lg-5"></span>
                        <span class="col-lg-7" ng-show="placeOrderForm.delivery_username.$error.pattern"  style="color:red">Only alphanumeric with .@#/- or space are accepted</span>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-5 control-label">Customer Phone<span class="required_field">*</span></label>

                        <div class="col-lg-7">
                            <input type="text" name="delivery_customer_phn"
                                   masked="" data-inputmask="'mask': '(999) 999-9999'"
                                   placeholder="Phone" class="form-control" ng-model="account.recepephone" required="required" ng-pattern="/^[0-9()\-\s]*$/"/>
                        </div>
                        <span class="col-lg-5"></span>
                        <span class="col-lg-7" ng-show="placeOrderForm.delivery_customer_phn.$error.pattern"  style="color:red">Please enter a valid Phone no.</span>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-5 control-label">Vendor Name<span class="required_field">*</span></label>

                        <div class="col-lg-7">
                            <input type="text" name="deliver_vendor_name" class="form-control"
                                   placeholder="Enter Name" ng-model="account.vendorname" autocomplete="off" required="required" ng-pattern="/^[ A-Za-z0-9@\-//.#/s]*$/"/>
                        </div>
                        <span class="col-lg-5"></span>
                        <span class="col-lg-7" ng-show="placeOrderForm.deliver_vendor_name.$error.pattern"  style="color:red">Only alphanumeric with .@#/- or space are accepted</span>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-5 control-label">Vendor Phone<span class="required_field">*</span></label>

                        <div class="col-lg-7">
                            <input type="text" name="delivery_vendor_phn"
                                   masked="" data-inputmask="'mask': '(999) 999-9999'"
                                   placeholder="Phone" class="form-control" ng-model="account.vendorphone" required="required" ng-pattern="/^[0-9()\-\s]*$/"/>
                        </div>
                         <span class="col-lg-5"></span>
                        <span class="col-lg-7" ng-show="placeOrderForm.delivery_vendor_phn.$error.pattern"  style="color:red">Please enter a valid Phone no.</span>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-5 control-label">Delivery Address<span class="required_field">*</span></label>

                        <div class="col-lg-7">
                            <select  class="form-control" ng-model="delivery_add_selector" required>
                                <option value="">Select Address</option>
                                <option value="0">Chandigarh</option>
                                <option value="1">Other</option>
                            </select>
                        </div>
                        <label class="col-lg-5 control-label"></label>
                        <div class="col-lg-7" ng-if="delivery_add_selector == 1">
                            <input style="margin-top:15px;" type="text" name="org_address"
                                   class="form-control" autocomplete="off" ng-model="account.deliveryAddress" googleplace=""
                                   placeholder="Address" ng-required="delivery_add_selector==1"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">Delivery Time<span class="required_field">*</span></label>
                        <div class="row form-group dtpicker panel-body" style="padding-top: 0;">
                            <div class="col-lg-7">
                                <input id="delivery_datetimepicker"  ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                                       ng-model='account.delivery_date' placeholder="Select delivery date" type="text" class="form-control"  autocomplete="off" required="required">
                            </div>
                            <div class="timedifferror" id="delivery_time_error"></div>
                        </div>

                        <div class="form-group text-center">
                            <button type='submit' class="btn btn-primary">Place your order</button>
                        </div>
                    </div></div>
                <!--row for delivery form ends-->
            </div>

            <div class="col-lg-4" style="margin-top: 75px">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" >
                    <ui-gmap-marker coords="marker_pickup.coords" options="marker_pickup.options" events="marker_pickup.events" idkey="marker_pickup.id">
                    </ui-gmap-marker>

                    <ui-gmap-marker coords="marker_delivery.coords" options="marker_delivery.options" events="marker_delivery.events" idkey="marker_delivery.id">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>

        </div>






    </form>
</div>
<div style="background:url('app/img/background.png') repeat-x 0% center;background-size: contain; width: 100%;height: 600px;margin-top:-400px;">
    <div style="position: absolute;top: 87%;left: 0%;margin: 0 auto;right: 0%;text-align: center;">
        <img style="width:130px;" src="app/img/powered_by_tookan.png" />
    </div>
</div>